body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.50%;
	border-radius: 15%;
	transition: background 0.8s;
	-webkit-transition: background 0.8s;
	-moz-transition: background 0.8s;
}
#container{
	margin: 20px auto;
	width: 95%;
	cursor: pointer;
	cursor: hand;
}

.center{
	margin: 0 auto;
	max-width: 600px;
}

p{

	font-size: 0.8rem;
}

h1{
	text-align: center;
	line-height: 1.1;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}
#colorDisplay{
	font-size: 200%;
}
#message{
	display: inline-block;
	width: 20%;
}
#stripe{
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected{
	color: white;
	background: steelblue;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	color: steelblue;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	-webkit-transition: background 0.8s;
	-moz-transition: background 0.8s;
	cursor: pointer;
	cursor: hand;
	outline: none;
}
button:hover{
	color: white;
	background: steelblue;
}
@media screen and(max-width: 400px){
	#colorDisplay{
		font-size: 2rem;
	}
	h1{
		font-size: 1.2rem;
	}
	button{
		letter-spacing: normal;
		font-size: 0.8rem;
	}
}